---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import LinkDocumentation from "../components/LinkDocumentation.astro";
import LinkPlatform from "../components/LinkPlatform.astro";

import iconoPlataformaWeb from "../assets/img/icono-plataforma-web.png";
import iconoSistemaCitas from "../assets/img/icono-sistema-citas.png";
import iconoPortalNotarias from "../assets/img/icono-portal-notarias.png";
import iconoTramitesServicios from "../assets/img/icono-tramites-servicios.png";
import iconoPlataformaArchivoJudicial from "../assets/img/icono-plataforma-archivo-judicial.png";
import iconoPlataformaOrion from "../assets/img/icono-plataforma-orion.png";

const plataformas = [
  {
    title: "Plataforma Web",
    icono: iconoPlataformaWeb,
    description: "Gestión de la información interna y externa, como descargar recibos de nómina y crear tickets de soporte técnico.",
    url: "https://plataforma-web.justiciadigital.gob.mx/",
    docs: "/plataforma_web"
  },
  {
    title: "Sistema de Citas",
    icono: iconoSistemaCitas,
    description: "Agendar citas en las oficinas y juzgados del Poder Judicial.",
    url: "https://citas.justiciadigital.gob.mx/",
    docs: "/sistema_citas"
  },
  {
    title: "Portal de Notarías",
    icono: iconoPortalNotarias,
    description: "Gestión de la publicación de edictos, por parte de las Notarías, en el sitio web.",
    url: "https://notarias.justiciadigital.gob.mx/",
    docs: "/portal_notarias"
  },
  {
    title: "Trámites y Servicios",
    icono: iconoTramitesServicios,
    description: "Realizar el pago de los trámites y servicios por banca electrónica.",
    url: "https://www.pjecz.gob.mx/tramites-y-servicios/",
    docs: "https://www.pjecz.gob.mx/tramites-y-servicios/"
  },
  {
    title: "Plataforma del Archivo Judicial",
    icono: iconoPlataformaArchivoJudicial,
    description: "Consulta de documentos y entrega de remesas al Archivo Judicial General.",
    url: "https://archivo-judicial-general.justiciadigital.gob.mx/",
    docs: "/plataforma_archivo_judicial_general"
  },
  {
    title: "Plataforma Orión",
    icono: iconoPlataformaOrion,
    description: "Administración de los expedientes del personal.",
    url: "https://orion.justiciadigital.gob.mx/",
    docs: "/plataforma_orion"
  }
];
---

<DefaultLayout>
  <section class="hero bg-[url(/fondo-mazo-de-juez-claro.jpg)] dark:bg-[url(/fondo-mazo-de-juez-oscuro.jpg)] bg-cover bg-center bg-no-repeat py-24 px-4 md:px-8 lg:px-12" id="bienvenida">
    <h1 class="text-gray-900 dark:text-white text-3xl font-bold pt-0 mb-6">Bienvenido</h1>
    <div class="text-gray-500 dark:text-gray-300">
      <p>
        Los sistemas de información son fundamentales para gestionar datos, tomar
        decisiones estratégicas y mejorar la prestación de servicios públicos en
        un mundo cada vez más digitalizado.
      </p>
      <p>
        La impartición de justicia moderna requiere plataformas digitales
        accesibles que permitan tanto a ciudadanos como funcionarios realizar
        trámites, consultar y dar seguimiento a los procesos judiciales de manera
        eficiente y transparente.
      </p>
      <p>
        En el <strong class="text-gray-800 dark:text-white">Poder Judicial del Estado de Coahuila de Zaragoza</strong>
        alentamos y promovemos la innovación. Gracias a las herramientas digitales
        hoy la justicia es más accesible a la ciudadanía.
      </p>
      <h2 class="text-2xl font-bold mb-2">Accesos a las Plataformas</h2>
      <div class="flex flex-wrap justify-center gap-4">
        { plataformas.map((plataforma) => <LinkPlatform title={plataforma.title} icon={plataforma.icono} url={plataforma.url} />) }
      </div>
    </div>
  </section>
  <section class="bg-gray-200 text-black dark:bg-gray-700 dark:text-gray-200 py-24 px-4 md:px-8 lg:px-12" id="plataformas">
    <h1 class="text-gray-900 dark:text-white text-3xl font-bold pt-0 mb-6">Documentación de las Plataformas</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      { plataformas.map((plataforma) => <LinkDocumentation title={plataforma.title} description={plataforma.description} docs={plataforma.docs} />) }
    </div>
  </section>
  <section class="hero py-24 px-4 md:px-8 lg:px-12" id="datos-abiertos">
    <h1 class="text-gray-900 dark:text-white text-3xl font-bold pt-0 mb-6">Datos Abiertos</h1>
    <div class="text-gray-500 dark:text-gray-300">
      <p>
        El Poder Judicial del Estado de Coahuila de Zaragoza promueve la transparencia
        y el acceso a la información pública mediante la publicación de conjuntos
        de datos abiertos por medio de una API.
      </p>
      <p>
        Estos datos abarcan diversas áreas, como edictos, listas de acuerdos, versión pública de las sentencias y
        otros aspectos relevantes para la ciudadanía.
      </p>
      <p>
        Al proporcionar estos datos, el Poder Judicial fomenta la participación ciudadana,
        facilita la investigación y contribuye a una mayor rendición de cuentas.
      </p>
    </div>
  </section>
</DefaultLayout>
